.header{
    background-color:#000080;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 30px;
    margin-bottom: 20px;
}

.button{
    text-align: center;
    margin: 20px;
}